    <div class="footer-content">
      <div class="row">
        <div class="tile">
          <p><b>Help</b>: Click here to visit the help page.</p>
          <p><b>About Me</b>: Click here to visit the about me page.</p>
        </div>
        <div class="tile">
          <p><b>Navigation</b>: Pressing the key which corresponds to the bold (typically first) character of each top nav' section will switch to that section.</p>
        </div>
      </div>
    </div>
    <div class="site-footer-icons">
      <a href="https://www.linkedin.com/in/martin-nurse"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
      <a href="https://github.com/mjnurse"><i class="fa fa-github w3-hover-opacity"></i></a>
    </div>
