<div class="footer-content">
  <div class="row">
    <div class="footer-tile">
      <b>Help</b>: Click here to visit the help page.<br>
      <b>About Me</b>: Click here to visit the about me page.
    </div>
    <div class="footer-tile">
      <b>Navigation</b>: Pressing the key which corresponds to the bold (typically first)
      character of each top nav' section will switch to that section.
    </div>
  </div>
</div>
<div class="site-footer-icons">
  <a href="https://www.linkedin.com/in/martin-nurse">
    <i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="https://github.com/mjnurse">
    <i class="fa fa-github w3-hover-opacity"></i></a>
</div>
<script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"mjnurse",utcoffset:"0"}))};sessionStorage.setItem("_swa","1");</script>
