<div class="footer-content">
  <div class="row">
    <div class="footer-tile">
      <a href="help.html"><b>Help</b></a>: Click here to visit the help page.<br>
      <a hrep="about_me.html"><b>About Me</b></a>: Click here to visit the about me page.
    </div>
    <div class="footer-tile">
      <b>Navigation</b>: Pressing the key which corresponds to the bold (typically first)
      character of each top nav' section will switch to that section.
    </div>
  </div>
</div>
<div class="site-footer-icons">
  <a href="https://www.linkedin.com/in/martin-nurse">
    <i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="https://github.com/mjnurse">
    <i class="fa fa-github w3-hover-opacity"></i></a>
</div>
